{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">   {# just <div> is OK as well, the difference is just in some minor indentation #}
        <br>
        {% if festival_list %}
            <p>Festivals registered in the database:</p>
            <ul>
                {% for festival in festival_list %}
                    <li>
                        <a href="{% url 'festival-detail' festival.pk %}">{{ festival.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No festivals registered in the database yet.</p>
        {% endif %}
        <p><a href="{% url 'festival-create' %}">Add festival</a></p>     <!-- Added subsequently, for CRUD -->
    </div>
{% endblock %}
