{% extends 'base1.html' %}

{% block content %}
    <div class="container-fluid">
        <h1>Woodstock</h1>
        <p>This is the initial version of index.html.</p>
        <p>It just shows the current numbers of performers and festivals in the database:</p>
        <ul>
{#            <li><strong>Performers: </strong>{{ n_performers }}</li>#}
{#            <li><strong>Festivals: </strong>{{ n_festivals }}</li>#}
            <li><strong>Performers: </strong>{{ n_p }}</li>
            <li><strong>Festivals: </strong>{{ n_f }}</li>
        </ul>
    </div>
{% endblock %}